{
	"env": {
		"browser": true
	},
	"extends": [
		"plugin:@wordpress/eslint-plugin/recommended-with-formatting",
		"plugin:jest/recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"parserOptions": {
		"project": "./tsconfig.json"
	},
	"plugins": [
		"@typescript-eslint"
	],
	"settings": {
		"jest": {
			"version": "latest"
		},
		"import/resolver": {
			"node": {
				"extensions": [
					".js",
					".jsx",
					".ts",
					".tsx",
					".json"
				]
			}
		}
	},
	"ignorePatterns": [
		"webpack.config.js"
	],
	"rules": {
		"@wordpress/i18n-text-domain": [
			"error",
			{
				"allowedTextDomain": [
					"wp-parsely"
				]
			}
		],
		"@typescript-eslint/ban-ts-comment": "off",
		"@typescript-eslint/prefer-nullish-coalescing": ["error"],
		// Enabling TS rule and disabling Base rule as it can report incorrect errors.
		"no-shadow": "off",
		"@typescript-eslint/no-shadow": ["error"],
		// Allow usage of Gutenberg experimental components.
		"@wordpress/no-unsafe-wp-apis": "off"
	}
}
