<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
    checkForUnintentionallyCoveredCode="false"
    beStrictAboutOutputDuringTests="false"
	>
	<php>
		<server name="SERVER_PORT" value="80"/>
        <server name="HTTP_HOST" value="localhost"/>
	</php>
	<testsuites>
		<testsuite>
			<directory prefix="test-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
