.parsely-recommendations-list-title {
	font-size: 1.2em;
}

.parsely-recommendations-ul {
	list-style: none;
}

.parsely-recommendations-cardbody {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding: 0.8em;
}

.parsely-recommendations-cardmedia {
	padding: 0.8em 0.8em 0 0.8em;
}
