.block-editor .parsely-recommendations-ul .parsely-recommendations-link {
	// Disable clicking on links (probably just during dev)
	pointer-events: none;
}

.parsely-recommendations-list-title {
	font-size: 1.75ch;
}

.parsely-recommendations-ul {
	list-style: none !important; // Not sure why, but the !important is needed in the editor. TODO: avoid.
}

.parsely-recommendations-cardbody {
	text-overflow: ellipsis;
	overflow: hidden;
	max-height: 150px;
	padding: 5px;
}

.parsely-recommendations-cardmedia {
	min-height: 100px;
	max-height: 100px;

	img {
		min-height: 100px;
		max-height: 100px;
	}
}

.parsely-recommendations-ul-list {
	// Styles for the list view
	.parsely-recommendations-cardbody {
		text-decoration: underline;
		font-size: 0.8vw;
	}

	.parsely-recommendations-card {
		display: inline-flex;
		min-width: 100%;
	}

	.parsely-recommendations-cardmedia {
		min-width: 150px;
		max-width: 150px;
	}
}

.parsely-recommendations-ul-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, 13ch);
	row-gap: 0.5em;
	column-gap: 0.8em;

	a {
		display: inline;
		text-align: center;
		vertical-align: middle;
	}

	.parsely-recommendations-cardbody {
		font-size: 0.8vw;
	}
}
