.block-editor .parsely-recommendations-ul .parsely-recommendations-link {
	// Disable clicking on links (probably just during dev)
	pointer-events: none;
}

.parsely-recommendations-list-title {
	font-size: 1.2em;
}

.parsely-recommendations-ul {
	list-style: none;
}

.parsely-recommendations-cardbody {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding: 0.8em;
}
