.traffic-boost-links {
	display: flex;
	flex-direction: column;
	flex: 1;
	min-height: 0;
	height: 100%;

	.traffic-boost-links-list {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		overflow-y: auto;
		height: 0;
		min-height: 0;

		.traffic-boost-single-link {
			flex: 0 0 auto;
			display: flex;
			border-bottom: 1px solid var(--gray-350);
			padding: var(--Scales-grid-unit-20, 16px) var(--Scales-grid-unit-30, 24px);
			align-items: center;
			gap: var(--Scales-grid-unit-15, 12px);

			&.active {
				border-bottom: 1px solid var(--Scales-Theme-theme-alpha-08, rgba(56, 88, 233, 0.08));
				background: var(--Scales-Theme-theme-alpha-04, rgba(56, 88, 233, 0.04));
			}

			.single-link-title {
				overflow: hidden;
				color: var(--sidebar-black);
				text-overflow: ellipsis;
				font-size: var(--font-size--medium);
				font-style: normal;
				font-weight: 400;
				line-height: var(--grid-unit-30);
			}
		}
	}

	.links-pagination {
		margin-top: auto;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: var(--grid-unit-30);
		flex: 0 0 auto;
		color: var(--sidebar-black);
		font-size: var(--font-size--smaller);
		font-style: normal;
		font-weight: 500;
		line-height: var(--grid-unit-20);
		text-transform: uppercase;
		padding: var(--grid-unit-15, 12px) var(--grid-unit-30, 24px);

		.page-selector {
			display: flex;
			align-items: center;
			gap: var(--grid-unit-5);

			.components-number-control {
				width: 30px;

				input {
					height: 30px;
					background: var(--sidebar-white);
					border: 0;
					appearance: none;
					-webkit-appearance: none;
					-moz-appearance: none;

					&::-webkit-inner-spin-button,
					&::-webkit-outer-spin-button {
						appearance: none;
						-webkit-appearance: none;
						-moz-appearance: none;
					}
				}
			}
		}

		.page-navigation {
			display: flex;
			gap: 0.25rem;
		}
	}
}
