@import "../../../../common/css/functions";
@import "../../../../common/css/variables";

.traffic-boost-preview {
	background-color: var(--sidebar-white);
	border-radius: to_rem(8px);
	flex: 1 0 0;
	align-self: stretch;
	padding: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	.wp-parsely-preview {
		flex: 1;
		display: flex;
		height: 100%;
		background: var(--sidebar-white);
		overflow: hidden;

		.preview-iframe-wrapper {
			width: 100%;
			height: 100%;
			position: relative;
			overflow: hidden;
		}

		.wp-parsely-preview-iframe {
			width: 100%;
			height: 100%;
			border: none;
			background: var(--sidebar-white);
			overflow-y: auto;
			overflow-x: hidden;
			transition: all 0.2s ease;
			z-index: 0;
			position: absolute;
			top: 0;
			left: 0;

			&.is-loading {
				filter: blur(4px);
				opacity: 0.7;
			}
		}

		.wp-parsely-preview-loading {
			position: absolute;
			inset: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			z-index: 3;
			pointer-events: none;
			visibility: hidden;
			opacity: 0;
			transition: opacity 0.2s ease, visibility 0.2s ease;

			&.is-loading {
				visibility: visible;
				opacity: 1;
			}

			.components-spinner {
				margin: 0;
				width: to_rem(40px);
				height: to_rem(40px);
			}
		}
	}
}

.traffic-boost-preview-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: to_rem(8px) to_rem(16px);
	border-bottom: 1px solid var(--gray-400);
	background: var(--white);
	z-index: 5;

	.traffic-boost-preview-stats {
		div {
			display: flex;
			align-items: center;
			gap: var(--grid-unit-5);

			span {
				font-size: var(--font-size--medium);
				font-weight: 400;
				line-height: var(--font-size--extra-large);
			}

			.components-icon {
				fill: var(--parsely-green);
			}
		}
	}

	.traffic-boost-preview-actions {
		display: flex;
		gap: var(--grid-unit-10);

		button {
			padding: to_rem(6px);
			height: to_rem(30px);
			min-width: to_rem(30px);

			&:hover {
				color: var(--wp-admin-theme-color);
			}
		}
	}
}

.wp-parsely-traffic-boost-preview-settings-popover {
	width: to_rem(275px);
	margin-top: var(--grid-unit-20);

	&-content {
		width: to_rem(275px);
		padding: var(--grid-unit-20);
		min-width: to_rem(220px);
	}
}

.traffic-boost-preview-footer {
	display: flex;
	padding: var(--grid-unit-10) var(--grid-unit-20);
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid var(--gray-400);
	background: var(--white);

	.traffic-boost-preview-footer-previous,
	.traffic-boost-preview-footer-next {
		min-width: to_rem(36px);
	}

	.traffic-boost-preview-footer-actions {
		display: flex;
		gap: var(--grid-unit-10);
		align-items: center;

		.components-button {
			height: to_rem(36px);
			padding: var(--grid-unit-10) var(--grid-unit-20);

			&.is-primary {
				background: var(--wp-admin-theme-color);
			}
		}

		.traffic-boost-preview-footer-navigation {
			display: flex;
			align-items: center;
			gap: var(--grid-unit-5);

			font-size: var(--font-size--small);
			font-weight: 500;
			line-height: var(--font-size--medium);
			text-transform: uppercase;
		}
	}
}

// Add styles for the selection wrapper in the iframe
.parsely-traffic-boost-selected {
	background-color: rgba(255, 241, 184, 0.3);
	display: inline;
	position: relative;
}

.wp-parsely-preview-wrapper ::selection {
	background-color: rgba(255, 0, 0, 0.2) !important;
	color: inherit;
}

.parsely-traffic-boost-highlight {
	position: absolute;
	z-index: 9;
	pointer-events: none;
}

.parsely-traffic-boost-iframe-popover {
	background: var(--sidebar-white);
	border-radius: to_rem(4px);
	box-shadow: 0 to_rem(4px) to_rem(8px) rgba(0, 0, 0, 0.2);
	padding: var(--grid-unit-10);
	pointer-events: auto;
}
