.margin-top-small {
	margin-top: 1rem !important;
}

.parsely-content-helper-card {
	margin-bottom: 1rem;
}

div.current-post-details {

	div.section {
		padding: 1rem 0.5rem;

		&.top-referrers p {
			margin: 1rem 1.5rem 0 1.5rem;
			text-align: center;
		}

		h2 {
			text-align: center;
		}

		table {
			border-collapse: collapse;
			width: 100%;

			tbody {

				td {
					padding-left: 0.8rem;
					text-align: right;
				}

				tr {
					line-height: 2;
				}

				th {
					font-weight: 500;
					// Use min and max width to make text truncation work
					max-width: 15ch;
					min-width: 15ch;
					overflow: hidden;
					text-align: left;
					text-overflow: ellipsis;
					white-space: nowrap;

					&.capitalized::first-letter {
						text-transform: capitalize;
					}
				}
			}
		}

		ul {
			margin: 0 0 0 0.5rem;
		}
	}
}
