.column-parsely-stats {
	width: 6%;

	.parsely-post-stats {
		color: #959da5;
		min-height: 54px;
		line-height: 18px;
	}

	.parsely-post-stats-placeholder {
		letter-spacing: 2px;
	}

	.parsely-post-page-views {
		color: #000;
	}
}

.fixed .column-categories,
.fixed .column-tags {
	width: 10%;
}
